<form [formGroup]="form" class="form">
  <div class="wrapper">
    <p>First currency</p>
    <app-input formControlName="inputCurrencyFirst" placeholder="Amount" type="number"></app-input>
    <app-select formControlName="selectCurrencyFirst" placeholder="Currency"
      [options]="getFilteredCurrencies(form.get('selectCurrencySecond')?.value)">
    </app-select>
  </div>

  <div class="wrapper">
    <p>Second currency</p>
    <app-input formControlName="inputCurrencySecond" placeholder="Amount" type="number"></app-input>
    <app-select formControlName="selectCurrencySecond" placeholder="Currency"
      [options]="getFilteredCurrencies(form.get('selectCurrencyFirst')?.value)">
    </app-select>
  </div>
</form>